# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.pkl
*.joblib

# -----------------------------
# Virtual Environment
# -----------------------------
venv/
.env

# -----------------------------
# IDE / Editor
# -----------------------------
.vscode/
.idea/
*.swp

# -----------------------------
# OS Files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Streamlit
# -----------------------------
.streamlit/

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# Jupyter
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# Data files (IMPORTANT)
# -----------------------------
data/*.csv
data/*.zip
data/*.parquet
data/*.xlsx
data/*.json

# -----------------------------
# Model Artifacts (if added later)
# -----------------------------
models/
outputs/
reports/
